.vscode/**
.vscode-test/**
local/**
out/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
webpack.config.js

.log
.tool-versions
*.sh
extension_old.js
images
*swp
*~
